.matches {
    margin-top: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.match-card-container {
    flex: 1;
}

.match-details {
  padding: 5px 10px 0 10px;
}

.match-reschedule {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 100%;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    padding: 16px;
}

.match-time {
    margin-bottom: 10px;
    font-size: 15px;
}

.match-time .anticon {
    margin-right: 10px;
}

.matches-slider {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.matches-slider .st-button,
.matches-slider div {
    margin: 0 10px;
}

.matches-slider .st-button .anticon {
    display: flex;
    align-items: center;
    justify-content: center;
}