.st-checkbox-group .ant-checkbox-wrapper {
  width: 100%;
  padding: 14px;
  color: #682873;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

.st-checkbox-group .ant-checkbox-wrapper-checked {
  background: #EAE1F6 40%;
  border-radius: 4px;
  border: 1px solid #D8AAE0;
}
