.edit-preference {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.edit-preference-input-container {
  flex: 1;
}

.edit-preference-input {
  margin: 40px 0;
}

.edit-preference-input h3 {
  font-size: 17px;
}

.edit-preference-input .ant-input {
  padding: 20px;
  background: #F4EEFC;
  border: 1px solid #D8AAE0;
  border-radius: 4px;
  font-size: 16px;
  color: #682873;
}

.edit-pref-age {
  margin-top: 60px;
}

.edit-pref-age .ant-slider-rail {
  background: #FFBDA7;
}

.edit-prefs-header,
.edit-prefs-header-dealbreakers {
  font-size: 17px;
}

.edit-prefs-header {
  color: #826C86;
}

.edit-prefs-header-dealbreakers {
  color: #DE3636;
}

.edit-pref-description {
  margin-bottom: 15px;
  color: #826C86;
  font-size: 17px;
}

.multiple-selection-desc {
  font-style: italic;
}

.pref-options {
  margin-bottom: 30px;
}

.edit-preference-cancel {
  width: 30%;
  background-color: #E0E0E0;
}

.edit-preference-save {
  width: 66%;
}