.profile-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-header {
  padding: 0 5px;
}

.profile-photo-edit {
  display: inline-block;
  font-size: 20px;
  position: relative;
  top: 50px;
  left: 270px;
}

.profile-photo-edit button {
  padding: 0;
  color: #682873;
}

.profile-card-bottom {
  font-size: 14px;
  line-height: 14px;
  padding: 10px 20px;
  background: #F6EFFF;
  border-radius: 16px;
  color: #826C86;
}

#profile-photo-upload {
  display: none;
}

.profile-header h1 {
  margin: 0;
}

.prefs-header {
  margin-top: 30px;
  padding: 0 5px;
  font-size: 17px;
}

.ant-divider {
  margin: 0;
}
