@import "~antd/dist/antd.less";

.App {
  width: 375px;
  margin: 0 auto;
  padding: 25px;
  flex-grow: 1;
  background-image: url("./assets/curls.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

body {
  font-family: FoundersGrotesk, sans-serif;
  font-size: 16px;
  color: #682873;
}

h1, h2, h3, h4, h5, h6 {
  font-family: NimbusSansExd, sans-serif;
  color: #682873;
}
