@import "~antd/dist/antd.less";

.App-header {
  margin-top: 20px;
  text-align: center;
}

.App {
  margin: auto;
  max-width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
}

.App-footer {
  font-size: 9pt;
  text-align: center;
}

.ant-spin {
  margin: 0 auto;
}
