@import "~antd/dist/antd.less";

header {
  margin-top: 20px;
  text-align: center;
}

header a {
  color: @text-color;
}

.App {
  margin: 0 auto;
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

footer {
  margin-bottom: 15px;
  font-size: 9pt;
  text-align: center;
}

.ant-spin {
  margin: 0 auto;
}
