.story-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.story-header .ant-menu {
  background: transparent;
}

.story-header-menu-item {
  margin: 0 10px !important;
  height: 36px; 
}

.story-header-menu-item span svg {
    font-size: 24px;
}
