.story-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    margin: 0 5px;
}

.menu-button span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button span svg {
    font-size: 24px;
}
