.story-header {
    display: flex;
    justify-content: space-between;
}

.logout-button {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background: #263238;
}

.logout-button:hover {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background: #54175F;
}