.pref-block-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 5px;
}

.pref-block {
  width: 100%;
  height: 100%;
}

.pref {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}

.pref-fun-facts {
  display: block;
  text-align: left;
}

.pref-description {
  color: #826C86;
}

.pref-value {
  text-align: right;
  max-width: 200px;
  color: #682873;
}

.pref-fun-facts .pref-value {
  max-width: 300px;
  white-space: pre-line;
  text-align: left;
}


.pref-value span {
  max-width: 100%;
}

.pref-arrow {
  color: #682873;
  margin-left: 8px;
}

.dealbreaker {
  color: #DE3636;
}

.dealbreaker-value {
  color: #F57E7E;
}