@import '~antd/dist/antd.dark.less';

header {
  margin-top: 20px;
  text-align: center;
}

header a {
  color: @text-color;
}

.App {
  height: 100%;
  text-align: center;
}

footer {
  margin-bottom: 15px;
  font-size: 9pt;
  text-align: center;
}

.ant-spin {
  margin: 0 auto;
}
