.spin-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.vday-container {
  padding: 40px 0 20px 0;
}

.vday-prompt-intro {
  font-size: 12pt;
  margin: 0;
}

.vday-prompt {
  font-family: Georgia, serif;
}

.vday-prompt-text {
  font-size:  30px;
}

.vday-quote-left,
.vday-quote-right {
  font-size: 100px;
  height: 80px;
  position: relative;
}

.vday-quote-right {
  top: -20px;
}

/* https://css-tricks.com/a-grid-of-logos-in-squares/ */
.clip-container {
  display: grid;
}

.clip {
  display: grid;
  padding: 1rem;
}

.clip::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.clip::before,
.clip div {
  grid-area: 1 / 1 / 2 / 2;
}

.clip-inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  bottom: -20px;
}

.clip-pause {
  display: none;
}

.clip:hover .clip-pause {
  display: initial;
}

.clip:hover #bars {
  display: none;
}

.clip-p {
  font-weight: 600;
}

.cta-container {
  font-size: 12pt;
  margin: 50px auto;
}

@media only screen and (min-width: 700px) {
  .cta-container {
      width: 600px;
  }

  .clip-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
  }

  .clip-icon {
    font-size: 60px;
  }

  .clip-p {
    margin-top: 25px;
  }

  .clip-play {
    visibility: hidden;
  }

  .clip:hover .clip-play {
    visibility: visible;
  }

  a.clip:hover {
    transform: scale(1.05);
  }
}

@media only screen and (max-width: 699px) {
  .cta-container {
    width: 90%;
  }

  .clip-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: .95rem;
  }

  .clip-icon {
    font-size: 40px;
  }

  .clip-p {
    margin-top: 15px;
  }
}

.better-way {
  font-variant: small-caps;
}

.cta-container button {
  height: 65px;
  width: 300px;
  margin: 20px 0;
  font-size: 16pt;
  font-variant: small-caps;
  font-weight: 500;
}
