.vday-record {
  max-width: 340px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.se-react-mic {
  width: 100%;
}

.se-react-mic-hide {
  display: none;
}

.se-button-group {
  text-align: center;
}

.record-stop {
  width: 100%;
  margin: 30px 0 10px 0;
}

.submit-container {
  margin-top: 20px;
}

.se-submit-bio {
  width: 100%;
  margin: 10px 0;
}

.se-recording-playback {
  width: 100%;
  margin: 10px auto;
}

.record-prompts div {
  margin-bottom: 4px;
  font-style: italic;
}
