.birthdate-input {
    display: flex;
    font-size: 24px;
    color: #949494;
}

.birthdate-input .st-input {
    text-align: center;
    flex: 1;
    margin: 0 5px;
    padding: 0;
}

.min-age {
    margin-top: 10px;
    color: #DE3636;
}