.birthdate-input {
    display: flex;
    font-size: 24px;
    color: #949494;
}

.birthdate-input .st-input {
    text-align: center;
    margin: 0 5px;
    padding: 0;
}

#birthdate-input-m,
#birthdate-input-d {
    flex: 1;
}

#birthdate-input-y {
    flex: 2;
}

.min-age {
    margin-top: 10px;
    color: #DE3636;
}