
.onboarding-step {
  margin-bottom: 40px;
  flex: 1;
}

.onboarding-step-input h3 {
  margin-top: 40px;
  font-size: 17px;
}

.onboarding-step-description {
  margin-bottom: 15px;
  color: #826C86;
  font-size: 17px;
}
